body {
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /*主题色*/
  --color-primary: #ff8364;
  /*背景色*/
  --color-background: #f2f2f6;
  --color-background-dark: #000000;
  /*前景色*/
  --color-background-front: #ffffff;
  --color-background-front-dark: #1c1c1d;
  /*字体颜色*/
  --color-color: #000000;
  --color-color-grey: #c4c4c6;
  --color-color-dark: #ffffff;
  /*卡片布局boxshadow*/
  --box-shadow: 0px 0px 10px 1px #c2c2c2a9;
  --box-shadow-dark: 0px 0px 10px 1px #252525a9;
}

/*animate动画时间*/
:root {
  --animate-duration: 0.5s !important;
  --animate-delay: 0.5s !important;
  --animate-repeat: 0.5 !important;
}

html {
  background-color: #e6e6e6;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  overflow-x: hidden;
}
